@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-image: url('../img/bghomeimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.greeting {
    background-color: #cf5353;
    border-radius: 100px;
    border: 4px solid #030398;
    transition: 0.5s;
    opacity: 0.8;
    background-image: url('../img/flag.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.greeting:hover {
    opacity: 1;
    transition: 0.5s;
    transform: scale(105%);
}
.greeting-text {
    text-align: center;
    font-size: 50pt;
    color: #769bff;
    text-shadow: 4px 2px 1px black;
}
.header {    
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 10px;
}
.header-el {
    padding: 5px 10px;
    border-radius: 100px;
    text-shadow: 1px 0.5px 0.5px black;
    font-size: 20pt;
    list-style: none;
    opacity: 0.8;
    transition: 0.5s;
}
.header-el:hover {
    background-color: #d76b6b;
    opacity: 1;
    transition: 0.5s;
    transform: scale(105%);
}
.header-el-url {
    text-decoration: none;
}
@media(min-width: 320px) {
    .header-button-on {
        top: -10px;
        display: flex;
        position: absolute;
        cursor: pointer;
        z-index: 10;
        text-shadow: 2px 2px 3px black;
    }
    .header-button-on-content {
        color: #cfcfcf;
        width: 20px;
        font-size: 40pt;
        position: absolute;
        display: inline-block;
    }
    .header-button-on-content::after {
        content: "—";
        position: absolute;
        top: .7rem;
        padding: 0;
    }
    .header-button-on-content::before {
        content: "—";
        position: absolute;
        bottom: .7rem;
        padding: 0;
    }
    .header-block-mobile {
        top: 0;
        background-color: #c60000;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        width: 250px;
        height: 100%;
        left: -252px;
        z-index: 15;
        transition: 0.7s;
        border-right: 2px solid #030398;
    }
    .header-block-mobile.active {
        left: 0;
    }
    .header-mobile-list {
        list-style: none;
    }
    .header-button-off {
        cursor: pointer;
        z-index: 20;
    }
    .header-button-off-content {
        position: absolute;
        color: #cfcfcf;
        width: 20px;
        font-size: 40pt;
        right: 25px;
    }
    .header-button-off-content::before {
        content: "—";
        position: absolute;
        transform: rotate(45deg);
    }
    .header-button-off-content::after {
        content: "—";
        position: absolute;
        transform: rotate(-45deg);
    }
    .header-el-url {
        border-bottom: 2px solid #cfcfcf;
        width: 200px;
        display: inline-block;
        position: relative;
        left: -35px;
        margin: 5px;
        padding: 3px;
        font-weight: 800;
    }
    .header {
        display: none;
    }
    .header-el {
        border-radius: 10px;
        font-size: 20pt;
        background-color: #c60000;
        border: none;
        text-shadow: 2px 2px 3px black;
        color: #769bff;;
    }
    .header-el:hover {
        background-color: #d40404;
    }
    .greeting {
        width: 90%;
        margin: 40% auto;
        border-radius: 30px;
    }
    .greeting-text {
        font-size: 30pt;
    }
}
@media(min-width: 600px) {
    .greeting {
        margin: 30% auto;
        width: 60vw;
    }
    .greeting-text {
        font-size: 30pt;
    }
}
@media(min-width: 1024px) {
    .header-button-on {
        display: none;
    }
    .header-mobile {
        display: none;
    }
    .header {
        display: flex;
    }
    .header-el-url {
        border-bottom: none;
        display: inline;
        position: static;
        margin: 0;
        padding: 0;
        width: auto;
    }
    .greeting {
        width: 55vw;
        margin: 5% auto;
        border-radius: 100px;
    }
    .greeting-text {
        font-size: 45pt;
    }
    .header-el {
        border-radius: 100px;
        background-color: #cf5353;
        border: 2px solid #030398;
        color: blue;
    }
}