@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-image: url('../img/bgimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    text-shadow: 2px 2px 3px black;
    font-family: "Roboto", sans-serif;
}
header {
    top: 0;
    height: 100px;
    width: 98%;
    margin: 0 1%;
    position: fixed;
    z-index: 10;
    transition: 0.7s ease-in-out;
}
.header-block {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #006208;
    border-radius: 50px;
    padding: 12px 0;
    opacity: 0.97;
    border: 3px solid #cfcfcf;
}
.header-el {
    font-size: 20pt;
    padding: 8px;
    border-radius: 10px;
    transition: 0.5s;
}
.header-el:hover {
    background-color: #00c614;
    transition: 0.5s;
    transform: scale(105%);
}
.header-el-url:hover .header-el{
    color: #000000;
    text-shadow: 2px 2px 3px #cfcfcf;
    transition: 0.5s;
}
.header-el-url {
    text-decoration: none;
    color: #cfcfcf;
    transition: 0.5s;
}
.title {
    background-color: #006208;
    padding: 0.04px;
    color: #cfcfcf;
    opacity: 0.97;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 3px solid #cfcfcf;
}
.title-text {
    transition: 0.3s;
}
.title-text:hover {
    opacity: 0.85;
    transition: 0.3s;
}
main {
    background-color: #006208;
    color: #cfcfcf;
    opacity: 0.97;
    border: 3px solid #cfcfcf;
}
.main-text {
    text-indent: 30px;
    text-align: justify;
    transition: 0.3s;
}
.main-text:hover {
    opacity: 0.85;
    transition: 0.3s;
}
.main-list {
    margin-left: 45px;
}
.main-list-el-url {
    color: #cfcfcf;
    transition: 0.3s;
    text-decoration: none;
}
.ul-list {
    list-style: none;
}
.ul-list-el::before {
    content: '➥';
    margin-right: 3px;
}
.main-list-el-url:hover {
    opacity: 0.85;
    transition: 0.3s;
    text-decoration: underline;
}
.main-subtitle {
    transition: 0.3s;
    text-indent: 30px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    margin-top: 5px;
}
.main-subtitle:hover {
    opacity: 0.85;
    transition: 0.3s;
}
.main-subtitle-subline {
    margin-left: 0;
}
.main-title-subline {
    margin-top: -15px;
}
.main-title {
    text-align: center;
    transition: 0.3s;
}
.main-title:hover {
    opacity: 0.85;
    transition: 0.3s;
}
.left {
    float: left;
    background-repeat: no-repeat;
    margin-right: 15px;
    border: dotted 2px #cfcfcf;
    transition: 0.3s;
}
.left:hover {
    transform: scale(102%);
    transition: 0.3s;
    z-index: 10;
}
.right {
    float: right;
    background-repeat: no-repeat;
    margin-left: 15px;
    border: dotted 2px #cfcfcf;
    transition: 0.3s;
}
.right:hover {
    transform: scale(102%);
    transition: 0.3s;
    z-index: 10;
}
.floating-img {
    position: relative;
    left: -20px;
}
footer{
    background-color: black;
    min-height: 40vh;
    padding: 10px;
    color: #cfcfcf;
}
.footer-title {
    transition: 0.3s;
}
.footer-title:hover {
    opacity: 0.85;
    transition: 0.3s;
}
.footer-list {
    list-style: none;
}
.footer-list-el {
    transition: 0.3s;
}
.footer-list-el:hover{
    transition: 0.3s;
    color: #ff0000;
    opacity: 0.8;
}
.footer-list-el::before {
    content: '➥';
    margin-right: 3px;
}
.footer-list-el-url {
    text-decoration: none;
    color: #cfcfcf;
}
.footer-date {
    float: right;
    transition: 0.3s;
    border-left: 2px solid #cfcfcf;
    padding-left: 5px;
}
.footer-date:hover {
    opacity: 0.85;
    transition: 0.3s;
}
.audio-button {
    position: fixed;
    float: left bottom;
    background-image: url('../img/play.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #bcbcbc;
    border-radius: 5px;
    margin-left: 15px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid black;
    bottom: 10vh;
}
.audio-button:hover {
    background-color: #ffffff;
    transition: 0.3s;
}
.audio-button.active{
    background-image: url('../img/stop.png');
}
.but-up {
    position: fixed;
    right: 20px;
    bottom: -90px;    
    background-color: #bcbcbc;
    border: 3px solid black;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    color: #000000;
    text-shadow: none;
    visibility: hidden;
}
.but-up:hover {
    background-color: #ffffff;
    transition: 0.3s;
}
.but-up.active {
    visibility: visible;
    transform: translateY(-100px);
    transition: 0.3s ease-in;
}
@media(min-width: 320px) {
    .header-block {
        display: none;
    }
    .title {
        margin: 10px 10vw;
        font-size: 20pt;
        width: 180vw;
    }
    main {
        width: 180vw;
        margin: 100% 8vw 5% 8vw;
        padding: 1px 10px 10px 10px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    .main-text {
        font-size: 20pt;
    }
    .main-title {
        font-size: 24pt;
    }
    .main-subtitle {
        font-size: 22pt;
    }
    .right {
        max-height: 350px;
        max-width: 350px;
    }
    .left {
        max-height: 350px;
        max-width: 350px;
        background-size: cover;
    }
    .floating-img {
        bottom: 5px;
        display: none;
    }
    .main-subtitle-subline {
        width: 250px;
    }
    .main-list-el-url {
        font-size: 20pt;
    }
    li {
        font-size: 20pt;
    }
    .main-list-el {
        margin-left: -40px;
    }
    footer {
        width: 200vw;
    }
    .footer-date {
        margin: -5% 3% 0 0;
        font-size: 20pt;
    }
    .footer-title {
        font-size: 20pt;
        text-align: center;
    }
}
@media(min-width: 600px) {
    
}
@media(min-width: 1024px) {
    .header-block {
        display: flex;
    }
    .title {
        font-size: 15pt;
        width: 60vw;
        margin: 125px 20vw;
    }
    main {
        margin: 20% auto 5% auto;
        padding: 1px 10px 10px 10px;
        width: 80vw;
        border-top-right-radius: 100px;
        border-top-left-radius: 100px;
    }
    .main-text {
        font-size: 14pt;
    }
    .main-title {
        font-size: 25pt;
    }
    .main-subtitle {
        font-size: 18pt;
    }
    .right {
        height: 400px;
        max-width: none;
    }
    .left {
        height: 400px;
        max-width: none;
    }
    .floating-img {
        bottom: -5px;
        display: block;
    }
    .main-subtitle-subline {
        width: 30%;
    }
    .main-list-el-url {
        font-size: 14pt;
    }
    li {
        font-size: 14pt;
    }
    .main-list-el {
        margin-left: 0;
    }
    footer {
        margin-bottom: 0;
        width: 100%;
    }
    .footer-date {
        margin: 6% 3% 0 0;
        font-size: 14pt;
    }
    .footer-title {
        font-size: 16pt;
        text-align: left;
    }
}