@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html {
    margin: 0;
}

body {
    background-image: url('../img/bgpartisans.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-shadow: 2px 2px 3px black;
}
header {
    top: 0;
    height: 100px;
    width: 98%;
    position: fixed;
    margin: 0 1%;
    z-index: 10;
    transition: 0.7s ease-in-out;
}
.header-block {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #c00000;
    border-radius: 50px;
    padding: 12px 0;
    opacity: 0.85;
    border: 5px double black;
}
.header-el {
    font-size: 20pt;
    padding: 8px;
    border-radius: 10px;
    transition: 0.5s;
}
.header-el:hover {
    transition: 0.5s;
    transform: scale(105%);
}
.header-el-url:hover .header-el{
    color: #cfcfcf;
    transition: 0.5s;
}
.header-el-url {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.title {
    text-align: center;
    background-color: #c00000;
    border: 5px double black;
    opacity: 0.85;
    transition: 0.5s;
    border-radius: 20px;
}
.title:hover {
    opacity: 1;
    transform: scale(105%);
    transition: 0.5s;
}
.title-text {
    transition: 0.3s;
    font-size: 30pt;
    color: black;
}
.title:hover .title-text {
    color: #cfcfcf;
}
.title-text:hover {
    opacity: 0.8;
    transition: 0.3s;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 200px;
}
.partisan {
    max-height: 800px;
    border: 5px groove #cfcfcf;
    background-color: #c00000;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}
.partisan.active {
    position: fixed;
    transition: 0.3s;
    overflow-y: auto;
    z-index: 10;
    top: 20vh;
    transform: scale(101%);
    opacity: 1;
    color: #cfcfcf;
}
body.active {
    overflow-y: hidden;
}
.partisan:hover {
    transform: scale(101%);
    opacity: 1;
    transition: 0.3s;
    color: #cfcfcf;
}
.litle-biography.active {
    text-align: justify;
}
.active .litle-biography::after {
    content: "";
}
.litle-biography::after {
    content: "...";
}
.unvisible-part-biography {
    visibility: hidden;
    position: absolute;
    top: -100%;
}
.unvisible-part-biography.active {
    visibility: visible;
    position: relative;
}
.image {
    border-radius: 10px;
    margin-right: 5px;
}
.lifeyears{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
}
.fullname {
    display: inline-block;
    margin-bottom: 5px;
}
footer{
    position: relative;
    background-color: black;
    padding: 10px;
    color: #cfcfcf;
}
.footer-title {
    transition: 0.3s;
}
.footer-title:hover {
    opacity: 0.85;
    transition: 0.3s;
}
.footer-list {
    list-style: none;
}
.footer-list-el {
    transition: 0.3s;
    text-indent: 0;
}
.footer-list-el:hover{
    transition: 0.3s;
    color: #ff0000;
    opacity: 0.8;
}
.footer-list-el::before {
    content: '➥';
    margin-right: 3px;
}
.footer-list-el-url {
    text-decoration: none;
    color: #cfcfcf;
}
.footer-date {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin-bottom: 0;
    transition: 0.3s;
    border-left: 2px solid #cfcfcf;
    padding-left: 5px;
}
.footer-date:hover {
    opacity: 0.85;
    transition: 0.3s;
}
.but-up {
    position: fixed;
    right: 20px;
    bottom: -90px;
    background-color: #bcbcbc;
    border: 3px solid black;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
    text-decoration: none;
    color: #000000;
    text-shadow: none;
    visibility: hidden;
}
.but-up:hover {
    background-color: #ffffff;
    transition: 0.3s ease-out;
}
.but-up.active {
    visibility: visible;
    transform: translateY(-100px);
    transition: 0.3s ease-in;
}
.ntg {
    position: relative;
    height: 400px;
    visibility: hidden;
    transition: 0.3s;
    display: none;
}

@media(min-width: 320px) {
    .header-button-on {
        display: flex;
        position: fixed;
        cursor: pointer;
        z-index: 10;
        margin-left: 5px;
        top: -10px;
    }
    .header-button-on-content {
        color: #cfcfcf;
        width: 20px;
        font-size: 40pt;
        position: absolute;
        display: inline-block;
    }
    .header-button-on-content::after {
        content: "—";
        position: absolute;
        top: .7rem;
        padding: 0;
    }
    .header-button-on-content::before {
        content: "—";
        position: absolute;
        bottom: .7rem;
        padding: 0;
    }
    .header-block-mobile {
        display: flex;
        background-color: #c00000;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        width: 250px;
        height: 100%;
        left: -252px;
        top: 0;
        z-index: 15;
        transition: 0.7s;
        border-right: 2px solid #000000;
    }
    .header-block-mobile.active {
        left: 0;
    }
    .header-mobile-list {
        list-style: none;
    }
    .header-button-off {
        cursor: pointer;
        z-index: 20;
    }
    .header-button-off-content {
        position: absolute;
        color: #cfcfcf;
        width: 20px;
        font-size: 40pt;
        right: 25px;
    }
    .header-button-off-content::before {
        content: "—";
        position: absolute;
        transform: rotate(45deg);
    }
    .header-button-off-content::after {
        content: "—";
        position: absolute;
        transform: rotate(-45deg);
    }
    .header-el-url {
        border-bottom: 2px solid black;
        width: 200px;
        display: inline-block;
        position: relative;
        left: -35px;
        margin-bottom: 20px;
        padding: 3px;
    }
    .header {
        display: none;
    }
    .title {
        width: 250px;
        margin: 20px auto; 
    }
    .image {
        height: 350px;
        width: 250px;
    }
    .partisan {
        width: 250px;
        margin: 5px;
    }
    .partisan.active {
        top: 0;
        max-height: 90vh;
    }
    .partisan.active .image {
        float: none;
    }
    footer {
        height: 70vh;
    }
    .footer-date {
        font-size: 14pt;
    }
    .footer-title {
        font-size: 20pt;
        text-align: center;
    }
}
@media(min-width: 600px) {
    .title {
        width: 500px;
        margin: 20px auto; 
    }
    .partisan {
        width: 350px;
    }
    .partisan.active {
        width: 500px;
    }
    .image {
        height: 500px;
        width: 350px;
    }
    .partisan.active .image {
        margin-left: 75px;
    }
    .footer-title {
        font-size: 16pt;
        text-align: center;
    }
    .footer {
        height: 40vh;
    }
    .footer-date {
        font-size: 16pt;
    }
}
@media(min-width: 1024px) {
    .header-button-on {
        display: none;
    }
    .header-mobile {
        display: none;
    }
    .header {
        display: block;
    }
    .main-list-el {
        margin-left: -40px;
    }
    .header-el-url {
        border-bottom: none;
        display: inline;
        position: static;
        margin: 0;
        padding: 0;
        width: auto;
    }
    .title {
        margin: auto;
        margin-top: 150px;
        width: 600px;
    }
    .partisan {
        margin: 10px;
    }
    .partisan.active {
        width: 1000px;
        max-height: 75vh;
    }
    .partisan.active .image {
        float: left;
    }
    footer {
        margin-bottom: 0;
    }
    .footer-date {
        font-size: 14pt;
    }
    .footer-title {
        font-size: 16pt;
        text-align: left;
    }
}